{% extends "frame.html" %}
{% load staticfiles %}
	{% block head %}
    <style type="text/css">
		.slide1{
		  background-image: url({% static 'img/cas/dream.jpeg' %});
		  height: 500px;
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: cover;
		}
		.slide2{
		  background-image: url({% static 'img/cas/dream.jpeg' %});
		  height: 500px;
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: cover;
		}
		.slide3{
		  background-image: url({% static 'img/cas/dream.jpeg' %});
		  height: 500px;
		  background-repeat: no-repeat;
		  background-position: center;
		  background-size: cover;
		}
		.carousel-caption h1{
		  font-size: 5.4em;
		  font-family: 'Pacifico', cursive;
		  padding-bottom: .4em;
		}
		.carousel-caption p{
		  font-size: 2em;
		}
	</style>
    {% endblock %}

    {% block content %}

    <!-- Main Content -->
    <div class="well well-sm">
        <p class="text-center"> Dear visitor from {{ location }}</p>
    </div>
	<!-- Search zone -->
	<section class="bg-primary" id="search">
        <form action="" method="post">
{#            <aside class="col-lg-2 col-lg-offset-1">#}
            <div class="container">
                <aside class="col-lg-1 col-lg-offset-1">
                    <img src={% static 'img/jarvis.jpg' %}>
                </aside>
                <div class="col-lg-6 col-lg-offset-3 form-group">
                    <h3>Echo Service</h3>
                </div>
                <div class="col-lg-6 col-lg-offset-3 form-group">{% csrf_token %}
                    <label href="" class="glyphicon glyphicon-search" >search</label>
                    <input type="text" name="textfield" class="form-control" id="input"><br>
                    <button type="submit" class="btn btn-lg btn-default pull-right">Ask</button>
                </div>
                <div class="container">
                    <div class="col-lg-6 col-lg-offset-3 form-group">
                        <h3 id="content"> {{ text }} </h3>
                    </div>
                </div>

            </div>
        </form>
    </section>

    {% endblock %}