{% extends "frame.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block content%}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Watch</h1>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="Visa Help">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="flex-video widescreen" style="margin: 0 auto;text-align:center;">
                        <iframe width="854" height="480" src="https://www.youtube.com/embed/BXFnhOANY2g?ecver=2" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}